<div class="container text-box">
	<h1>All About Me</h1>
	<p>I am a recent convert to programming. I was working in insurance claims for about five years or so, and then I lost my job. If I had enjoyed my job, that might have been a bad thing. Instead, I decided to make lemonade with those lemons. After being out of work for about two weeks, I found my passion -- CODING!</p>
	<br />
	<p>I was lucky enough to find <%= link_to "Tech Talent South", "http://techtalentsouth.com", target: "_blank", title: "Tech Talent South" %>. I enrolled in a code immersion program where we learned Ruby on Rails, HTML/CSS, JavaScript/JQuery, SQL, git version control, and API's. I learned so much in that class and took right to it. <%= link_to "Click Here", "http://www.hypepotamus.com/people/doug-graiser-past-football-career-sparked-interest-startups/", target: "_blank", title: "http://www.hypepotamus.com/people/doug-graiser-past-football-career-sparked-interest-startups/" %> to seen an article that I was featured in by Hypepotamus.</p>
</div>