<div class="container text-box">
	<%= image_tag "dgraiser.jpg", alt: "Doug Graiser", class: "about-img" %>
	<h1>All About Me</h1>
	<p>I am a recent convert to programming. I was working in insurance claims for about five years or so, and then I lost my job due to cutbacks. If I had enjoyed my job, that might have been a bad thing. Instead, I decided to make lemonade with those lemons. After being out of work for about two weeks, I found my passion -- CODING!</p>
	<br />
	<p>I was lucky enough to find <%= link_to "Tech Talent South", "http://techtalentsouth.com", target: "_blank", title: "Tech Talent South" %>. I enrolled in a code immersion program where we learned Ruby on Rails, HTML/CSS, JavaScript/JQuery, SQL, git version control, and API's. I learned so much in that class and took right to it. <%= link_to "Click Here", "http://www.hypepotamus.com/people/doug-graiser-past-football-career-sparked-interest-startups/", target: "_blank", title: "http://www.hypepotamus.com/people/doug-graiser-past-football-career-sparked-interest-startups/" %> to see an article that I was featured in by Hypepotamus.</p>
	<br />
	<p>When I'm not coding or learning more about coding, I'm spending time with my wife and daughter. I also spend a lot of time in my garage building furniture or some other woodworking project. I love doing any kind of logic puzzle or jigsaw puzzle. My latest addiction has been doing <%= link_to "Paint By Number", "http://webpbn.com", target: "_blank", title: "Paint By Number" %> puzzles.</p>
</div>