<div class="container">
	<h1>Welcome To My Portfolio</h1>
	<div class="row">
		<% @sites.each do |site| %>
			<div class="col-md-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><%= site.title %></h3>
				  </div>
				  <div class="panel-body">
				  	<p><%= image_tag site.avatar.url(:medium) %></p>
				    <%= site.description %>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>