<div class="jumbotron">
	<div class="container">
	  <h1>Welcome to My Portfolio</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<% @sites.each do |site| %>
			<div class="col-md-6" id="gallery">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title"><%= site.title %></h3>
				  </div>
				  <div class="panel-body">
				  	<%= link_to image_tag(site.avatar.url), site, class: "home-site-img" %>
				  	<div>&nbsp</div>
				    <%= site.description %>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>