<div class="row">
	<div class="col-md-4 col-md-offset-4 text-box">		
		<h1>Editing Site</h1>

		<%= render 'form' %>

		<br>
		&nbsp
		<%= link_to 'Show', @site %> |
		<%= link_to 'Back', sites_path %>
		<br>
		&nbsp
	</div>
</div>